.container{
    .table {

        th, td {
            padding: 10px 15px;
            text-align: left;
            border: 1px solid rgba(0, 0, 0, 0.194);
        }

        th {
            background-color: #ffc400;
        }

        .icon-sort {
            height: 8px;
        }
        .img-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        tbody {
            tr {
                transition: background-color 0.3s ease;
                border-radius: 10px;
                text-align: center;
               
                
                &:hover {
                    background-color: #f5f5f5;
                    transform: translateY(-3px);
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
                }
            }

            tr:nth-child(even) {
                background-color: #fafafa;
            }
        }
    }
    .list-info {
        padding: 8px 0;
    }
    .page-item {
        &.active {
          a {
            background-image: linear-gradient(to right, #4567b7, #6495ed);
            color: #ffffff;
          }
        }
      }
      .page-link{
        color: grey;
      }
}



.cursor-pointer{
    cursor: pointer;
}

.custom-swal-toast-edit {
    background-color: #ffeb3b;
    color: #000000;
  }
  
  .custom-swal-toast-delete {
    background-color: #f44336; 
    color: red;
  }

.h-layout {
    height: 90vh;
}



