<div class="container h-layout mt-4">
  <div class="card-header bg-warning p-3 h2">
    Add Data
  </div>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="username">User Name :</label>
          <input type="text" class="form-control" formControlName="username">
          <div *ngIf="employeeForm?.get('username')?.invalid && employeeForm?.get('username')?.touched"
            class="text-danger">
            User Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="firstName">First Name :</label>
          <input type="text" class="form-control" formControlName="firstName">
          <div *ngIf="employeeForm?.get('firstName')?.invalid && employeeForm?.get('firstName')?.touched"
            class="text-danger">
            First Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name :</label>
          <input type="text" class="form-control" formControlName="lastName">
          <div *ngIf="employeeForm?.get('lastName')?.invalid && employeeForm?.get('lastName')?.touched"
            class="text-danger">
            Last Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email :</label>
          <input type="email" class="form-control" formControlName="email">
          <div *ngIf="employeeForm?.get('email')?.invalid && employeeForm?.get('email')?.touched" class="text-danger">
            Valid Email is required.
          </div>
        </div>
        <div class="form-group">
          <label for="birthDate">Birth Date :</label>
          <input type="date" class="form-control" formControlName="birthDate" max="{{ today }}">
          <div *ngIf="employeeForm?.get('birthDate')?.invalid && employeeForm?.get('birthDate')?.touched"
            class="text-danger">
            Birth Date is required and cannot be in the future.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="basicSalary">Basic Salary :</label>
          <input backofficeCurrencyMask type="text" class="form-control" formControlName="basicSalary"
            mask="separator.2" thousandSeparator=",">
          <div *ngIf="employeeForm?.get('basicSalary')?.invalid && employeeForm?.get('basicSalary')?.touched"
            class="text-danger">
            Basic Salary is required and must be a number.
          </div>
        </div>
        <div class="form-group">
          <label for="status">Status :</label>
          <select class="form-control" formControlName="status">
            <option value="active">ACTIVE</option>
            <option value="inactive">INACTIVE</option>
          </select>
          <div *ngIf="employeeForm?.get('status')?.invalid && employeeForm?.get('status')?.touched" class="text-danger">
            Status is required.
          </div>
        </div>
        <div class="form-group">
          <label for="group">Group :</label>
          <select class="form-control" formControlName="group">
            <option *ngFor="let group of groups" [value]="group.value">{{ group.label }}</option>
          </select>
          <div *ngIf="employeeForm?.get('group')?.invalid && employeeForm?.get('group')?.touched" class="text-danger">
            Group is required.
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description :</label>
          <input type="text" class="form-control" formControlName="description">
          <div *ngIf="employeeForm?.get('description')?.invalid && employeeForm?.get('description')?.touched"
            class="text-danger">
            Description is required.
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button type="submit" class="btn btn-success me-2" [disabled]="employeeForm.invalid">Submit</button>
      <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>