<div class="h-layout pt-5 py-md-5">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100 mt-4">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image" />
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <div *ngIf="!response && isSubmit" class="alert alert-danger" role="alert">
                    Invalid username or password!
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="username" id="username"
                            placeholder="input username" />
                        <div *ngIf="
                loginForm.get('username')?.invalid &&
                (loginForm.get('username')?.dirty ||
                  loginForm.get('username')?.touched)
              " class="text-danger">
                            Invalid Username address
                        </div>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" formControlName="password" id="password"
                            placeholder="input password" />
                        <div *ngIf="
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched)
              " class="text-danger">
                            Password is required
                        </div>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>