footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  background-image: linear-gradient(to right, #4567b7, #6495ed);
  margin-bottom: 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

nav a {
  color: #ddd;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}
