form {
    max-width: px;
    padding: 20px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.59);
    box-shadow: 3px 3px 23px -9px rgba(0, 0, 0, 0.86);
  }
  
  form input {
    border: 1px solid #eee;
    border-radius: 0!important;
    padding: 5px 8px;
    color: #444;
  }
  
  form button {
    margin-top: 20px;
    border-radius: 0px!important;
  }
  .pull-right {
    float: right;
  }
  
  label {
      margin-bottom:10px;
      margin-top:10px;
      font-weight: bold;
  }

  .td-bg{
    width: 40%;
    font-weight: bold;
}

.h-layout {
    height: 80vh;
}

@media (max-width: 450px) {
    .h-layout {
        height: 90vh;
    }
}
